html, body{
  font-family: sans-serif;
  background: #000;
  color: #EEE;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#player_id{
  text-align: center;
  padding: 5px;
  top: 5%;
  width: 100%;
  position: absolute;
}

#plant_bomb{
  text-align: center;
  padding: 5px;
  width: calc(30% - 10px);
  height: calc(50% - 10px);
  float: left;
  background: #200;
}

#plant_freezer{
  text-align: center;
  padding: 5px;
  width: calc(30% - 10px);
  height: calc(50% - 10px);
  float: left;
  background: #DFF;
  color: #000;
}

#analog{
  text-align: center;
  padding: 5px;
  width: calc(70% - 10px);
  height: calc(100% - 10px);
  float: right;
  background: #000;
}

#wonmessage{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#wonmessage_text{
  text-align: center;
  position: relative;
  top: 40%;
}

#mapchoose{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
}

#mapchoose_text{
  color: #FFF;
  position: relative;
  top: 5%;
  pointer-events: none;
}

#mapchoose_list{
  position: relative;
  top: 10%;
  width: 100%;
}

.mapchoose_element{
  padding: 5px;
  font-size: larger;
  float: left;
  width: 20%;
}

#welcome{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FFF;
}

#welcome_text{
  color: #000;
  position: relative;
  top: 10%;
  pointer-events: none;
}

.color_choose{
  position: absolute;
  width: 34%;
  height: 34%;
  color: #FFF;
}

#color_red{
  top: 0%;
  left: 0%;
  background: #F00;
}
#color_yellow{
  top: 0%;
  left: 33%;
  background: #FF0;
  color: #000;
}
#color_dark_green{
  top: 0%;
  left: 67%;
  background: #093;
}
#color_violett{
  top: 33%;
  left: 0%;
  background: #909;
}
#color_orange{
  top: 33%;
  left: 33%;
  background: #F93;
  color: #000;
}
#color_green{
  top: 33%;
  left: 67%;
  background: #0F0;
  color: #000;
}
#color_pink{
  top: 67%;
  left: 0%;
  background: #F6F;
  color: #000;
}
#color_light_blue{
  top: 67%;
  left: 33%;
  background: #3CF;
  color: #000;
}
#color_blue{
  top: 67%;
  left: 67%;
  background: #00F;
}
