html, body{
  font-family: sans-serif;
  background: #FFF;
  color: #111;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#wait{
  text-align: center;
  top: 2%;
  width: 100%;
  left: 0px;
  position: absolute;
  z-index: 999;
}

#canvasBg{
  position: absolute;
  top: 5%;
  left:5%;
  width: 90%;
  height: 90%;
}

#canvasFg{
  position: absolute;
  top: 5%;
  left:5%;
  width: 90%;
  height: 90%;
}
